In [306]:
import os
import psycopg2
from dataset.dataset import Dataset

In [307]:
Dataset().df

       zona  precos  quartos areas
0     norte  1310.0      3.0    97
1     norte  1600.0      2.0    67
2     norte  1800.0      2.0    45
3     norte  2700.0      2.0    82
4     norte  2200.0      3.0    85
...     ...     ...      ...   ...
1143  oeste  1000.0      1.0    42
1146  oeste  7500.0      1.0   108
1148  oeste  7500.0      4.0   145
1150  oeste  1500.0      2.0    89
1151  oeste  7300.0      3.0   130

[1120 rows x 4 columns]

In [ ]:
#INSERT
try:
    engine = psycopg2.connect(
            database=dbname,
            user=login,
            password=password,
            host=host,
            port='5432')
    cur = engine.cursor()
        
        # Query Insert table
    for linha in df.values:
        insert_query =  f"INSERT INTO DASH values {str(linha[0]), linha[1], linha[2], linha[3]}"
        cur.execute(insert_query)
        engine.commit()
            
except (Exception, psycopg2.Error) as error:
    print("Error while connecting to PostgreSQL", error)
finally:
    if engine:
        cur.close()
        engine.close()
        print("PostgreSQL connection is closed")

In [287]:
#select
try:
    connection = psycopg2.connect(user=login,
                                  password=password,
                                  host=host,
                                  port="5432",
                                  database=dbname)
    cursor = connection.cursor()

    SQL_select_Query = "select * from DASH"

    cursor.execute(SQL_select_Query)
    print("Query Success")
    mobile_records = cursor.fetchall()

except (Exception, psycopg2.Error) as error:
    print("Error while fetching data from PostgreSQL", error)

finally:
    # closing database connection.
    if connection:
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed")

Query Success
PostgreSQL connection is closed

In [ ]:
df = Dataset().df

In [ ]:
df[df['precos']>9999]

In [ ]:
df.shape

In [ ]:
dbname = 'd7sp0joep101nd'
host = 'ec2-34-193-112-164.compute-1.amazonaws.com'
login = 'aqsxbhzoguvalx'
password = '4688eacde1e0ddd3b1f66a10e6f319fc2a6388af54a3f2abd42010a7cbc71d6c'

try:
    conn = psycopg2.connect(f'dbname={dbname} user={login} host={host} password={password}')
except:
    print ('I am unable to connect to the database')

In [ ]:
cur = conn.cursor()
conn.commit()

In [ ]:
cur.execute("DROP TABLE DASH")

In [ ]:
sqlcreate = "CREATE TABLE DASH (zona varchar(255), precos varchar(100), quartos int, areas int);"

In [ ]:
cur.execute(sqlcreate)
conn.commit()

In [ ]:
for row in range(1119):
    cur.execute(f'''INSERT INTO DASH (zona,precos,quartos,areas) values (%s, %s, %s, %s);''' , (lista_zona[row],lista_precos[row], lista_quartos[row], lista_areas[row]))

In [ ]:
conn.commit()

In [ ]:
ac = cur.execute('SELECT * FROM DASH')

In [ ]:
lista_zona = df['zona'].values
lista_precos = df['precos'].values
lista_quartos = df['quartos'].values
lista_areas = df['areas'].values

In [ ]:
lista_precos

In [ ]:
try:
    connection = psycopg2.connect(user=login,
                                  password=password,
                                  host=host,
                                  port="5432",
                                  database=dbname)
    cursor = connection.cursor()

    sql_insert_query = """ INSERT INTO DASH (zona,precos,quartos,areas) VALUES (%s,%s,%s,%s)"""
    record_to_insert = (lista_zona, lista_precos, lista_quartos, lista_areas)
    cursor.executemany(sql_insert_query, record_to_insert)

    connection.commit()
    count = cursor.rowcount
    print(count, "Record inserted successfully into dash table")

except (Exception, psycopg2.Error) as error:
    print("Failed to insert record into DASH table", error)

finally:
    # closing database connection.
    if connection:
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed")

In [ ]:
try:
    connection = psycopg2.connect(user=login,
                                  password=password,
                                  host=host,
                                  port="5432",
                                  database=dbname)
    cursor = connection.cursor()

    sql_insert_query = """ INSERT INTO DASH VALUES (%s,%s,%s,%s)"""
    record_to_insert = (lista_zona, lista_precos, lista_quartos, lista_areas)
    cursor.executemany(sql_insert_query, record_to_insert)

    connection.commit()
    count = cursor.rowcount
    print(count, "Record inserted successfully into dash table")

except (Exception, psycopg2.Error) as error:
    print("Failed to insert record into DASH table", error)

finally:
    # closing database connection.
    if connection:
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed")

In [312]:
Dataset().query()

AttributeError: 'Dataset' object has no attribute 'query'